<?xml version="1.0"?>
<root>
<SupportedBlocks>
  <!--Memory Blocks -->
  <Block type="UnitDelay" category="Memory"/>
  <Block type="Delay" category="Memory"/>
  <Block type="DataStoreMemory" category="Memory"/>
  <Block type="EdgeDetector" category="Memory"/>
  <Block type="Reference" category="Memory"/>
  <Block type="RisingEdge" category="Memory"/>
  <Block type="FallingEdge" category="Memory"/>
  <Block type="LatchOn" category="Memory"/>
  <Block type="From" category="Memory"/>
  <Block type="Goto" category="Memory"/>

  <!--Collapsible Blocks -->
  <Block type="Constant" category="Collapsible"/>
  <Block type="Gain" category="Collapsible"/>
  <Block type="Sum" category="Collapsible"/>
  <Block type="Product" category="Collapsible"/>
  <Block type="RelationalOperator" category="Collapsible"/>
  <Block type="Logic" category="Collapsible"/>
  <Block type="Compare To Constant" category="Collapsible"/>

  <!--Branching Blocks -->
  <Block type="Switch" category="Branching"/>
  <Block type="Deadzone" category="Branching"/>
  <Block type="If" category="Branching"/>
  <Block type="Merge" category="Branching"/>

  <!--IO-->
  <Block type="Inport" category="IO"/>
  <Block type="Outport" category="IO"/>
  <Block type="DataStoreRead" category="IO"/>
  <Block type="DataStoreWrite" category="IO"/>
  <Block type="SubSystem" category="IO"/>
</SupportedBlocks>
</root>
